@import "tailwindcss";

.custom-next, .custom-prev {
  @apply border border-light text-lg absolute z-10 px-5 py-3 bg-dark text-light rounded-full hover:bg-gray-600 cursor-pointer;
}

.swiper-button-disabled {
  @apply hidden;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@theme {
    --color-dark: #023337;
    --color-primary: #4ea674;
    --color-secondary: #c0e6b9;
    --color-light: #e9f8e7;
}