@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.custom-next, .custom-prev {
  @apply transition duration-100 border border-light text-lg absolute z-10 w-11 h-11 flex justify-center items-center bg-dark text-light rounded-full hover:bg-gray-600 cursor-pointer;
}

.swiper-button-disabled {
  @apply hidden;
}

span.swiper-pagination-bullet {
  @apply bg-light opacity-50
}

span.swiper-pagination-bullet-active {
  @apply bg-light opacity-100
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@theme {
    --color-dark: #023337;
    --color-primary: #4ea674;
    --color-secondary: #c0e6b9;
    --color-light: #e9f8e7;
}